* {
    margin: 0;
    padding: 0;
}

#product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial";
    gap: 20px;
}

.card {
    background-color: #fff;
    width: 180px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.783);
}

.card img {
    width: 60%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 20%;
    margin-top: 5%;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 40%;
}

.card h1 {
    font-size: 1.2rem;
}

.card h2 {
    font-size: .9rem;
    color: #5c5c5ceb;
}

.card button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.card button:hover {
    background-color: #137de8;
    cursor: pointer;
}